GMAIL_USER=RioPinarDentalCare@gmail.com
GMAIL_APP_PASSWORD=your_16_character_google_app_password
LEAD_NOTIFICATION_TO=RioPinarDentalCare@gmail.com
# Optional: can be same as GMAIL_USER or formatted like:
# LEAD_NOTIFICATION_FROM="Rio Pinar Dental Care <RioPinarDentalCare@gmail.com>"
LEAD_NOTIFICATION_FROM=RioPinarDentalCare@gmail.com
